.page-header, body {
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    animation: gradient 20s linear infinite;
}

#content {
    padding-top: 25%;
    word-wrap: break-word;
}


/*.page-header {*/
/*    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
/*    background-size: 300% 300%;*/
/*    animation: gradient 20s linear infinite;*/
/*}*/

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#ninth-region-text img {
    max-width: 20%;
    margin-top: -4%;
}